.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.grid {
  display: grid;
  grid-gap: 1.5rem;
  padding: 3rem 0;
  align-items: center;
}
.grid div {
  grid-column: 1fr;
}
.about-me {
  position: relative;
  z-index: 1;
  background: #ffffff;
}
.right-align {
  text-align: right;
}
.about-me .container {
  max-width: 1000px;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .right-align {
    text-align: center;
  }
}
.pad-top {
  padding-top: 200px;
}
