html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Source Code Pro";
  max-width: 100vw;
  overflow-x: hidden;
}
.logos a:visited {
  color: #f8f8ff;
}
footer {
  padding: 2rem 5%;
}
section svg {
  width: 40px;
}
.container {
  width: min(90vw, 1400px);
  margin: auto;
}

.two--col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.margin--top {
  margin-top: 3rem;
}

h1 {
  font-size: clamp(4rem, 10vw, 12rem);
  margin: 0;
  position: relative;
  font-weight: 400;
}

h3 {
  margin: 0;
  font-weight: 200;
}

.underline {
  background-image: linear-gradient(120deg, #232526 0%, #232526 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}
.underline:hover {
  background-size: 100% 88%;
}

.hero {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  font-weight: 200;
}

.second {
  height: 100vh;
  background: #ffffff;
  color: #000000;
  position: relative;
  z-index: 2;
}

/*FORM*/
.form {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem !important;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
  font-family: "Source Code Pro";
  border: 2px solid white;
  background: none;
}

.head-container {
  position: relative;
  display: block;
  height: clamp(6rem, 12vw, 15rem);
  width: 550px;
  overflow-y: hidden;
}
.head {
  visibility: hidden;
  position: absolute;
}

.contactBox {
  visibility: hidden;
}
